   <!-- 
 Title: Assignment 3.4 products.ejs
 Author: Richard Krasso
 Date: 3 07 2018
 Modified By: Mary Barrett
 Description: This code is pulled from the Navigation Example. 
  -->

<% include header %>

<div role="main" class="container">

    <br/><br/>

    <h2>Welcome to the <%= message %>!</h2>

</div>

<% include footer %>